/node_modules
/public/hot
/public/lessons
/public/storage
/public/lessons
/storage/*.key
/vendor
/.git1/*
/.git1/objects/pack/pack-6f83874c5f901f224c2b45b217f760c1a5eb05c0.pack
.git1/objects/pack/pack-179dce73b61c2177b05bcbb26fc5e8454863e3de.pack
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/assessment
/assessmentold
/blog
/gamification-engine
/gamify-laravel

*.zip
.htaccess
/.idea
/storage